<div {{bind-attr class=":footer-group :u-paddingLl :u-pullLeft withImage"}}>
    <div class="footer-group-name u-marginBl">
        {{grouName}}
    </div>

    <ul>
        {{#each links}}
            <li {{bind-attr class="image:u-pullLeft image:image-link"}}>
                {{#if image}}
                    <a {{bind-attr href=url}} target="_blank">
                        <img {{bind-attr src=image alt=name}} />
                    </a>
                {{else}}
                    {{#link-to route position}}
                        {{name}}
                    {{/link-to}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
