<div {{bind-attr id=for}} class="section-content u-pullRight">
    <h2 class="section-header">{{header}}</h2>

    <div class="section-image-outer">
        <img {{bind-attr src=image alt=header}} />
    </div>

    <p class="u-marginVl u-paddingRl">{{description}}</p>

    <div class="section-buttons u-cf">
        {{#each buttons}}
            <a {{bind-attr class=":btn :btn-medium :u-marginRl :u-pullLeft style" href=url}} target="_blank">
                {{name}}
            </a>
        {{/each}}
    </div>
</div>
