<div {{bind-attr id=for}} class="section-content u-pullRight">
    <h2 class="section-header">{{header}}</h2>

    {{#if image}}
        <div class="section-image-outer">
            {{#if lazyImage}}
                <img class="lazy" {{bind-attr data-original=image alt=header}} />
            {{else}}
                <img {{bind-attr src=image alt=header}} />
            {{/if}}
        </div>
    {{/if}}

    {{#if description}}
        <p class="u-marginVl u-paddingRl">{{description}}</p>
    {{/if}}

    {{#if buttons}}
        <div class="section-buttons u-cf">
            {{#each buttons}}
                {{#if url}}
                    <a {{bind-attr class=":btn :btn-medium :u-marginRl :u-pullLeft style" href=url}} target="_blank">
                        {{name}}
                    </a>
                {{else}}
                    {{#link-to route position classBinding=":btn :btn-medium :u-marginRl :u-pullLeft style"}}
                        {{name}}
                    {{/link-to}}
                {{/if}}
            {{/each}}
        </div>
    {{/if}}

    {{yield}}
</div>
