<div class="footer">
    <div class="footer-inner u-alignCenter">
        {{footer-link-group
            grouName='产品服务'
            links='[
              { "name": "音乐人攻略", "route": "products", "position": "musicianguide" },
              { "name": "合拍", "route": "products", "position": "hepaimusic" },
              { "name": "友演出", "route": "products", "position": "youyanchu" },
              { "name": "生力军计划", "route": "products", "position": "shenglijun" },
              { "name": "国外分销", "route": "products", "position": "distribution" },
              { "name": "T恤印制", "route": "products", "position": "t-shirt" },
              { "name": "音乐入库", "route": "products", "position": "warehousing" }
            ]'
        }}

        {{footer-link-group
            grouName='招聘'
            links='[
              { "name": "音乐人攻略", "url": "TODO" },
              { "name": "合拍", "url": "TODO" }
            ]'
        }}

        {{footer-link-group
            grouName='博客'
            links='[
              { "name": "公司动态", "url": "TODO" },
              { "name": "马龙说", "url": "TODO" }
            ]'
        }}

        {{footer-link-group
            grouName='关于'
            links='[
              { "name": "关于我们", "url": "TODO" },
              { "name": "合作伙伴", "url": "TODO" },
              { "name": "联系我们", "url": "TODO" }
            ]'
        }}

        {{footer-link-group
            grouName='其它站点'
            withImage=true
            links='[
              { "name": "音乐人攻略", "url": "http://musicianguide.cn", "image": "/images/footer-musicianguide.png" },
              { "name": "合拍", "url": "http://hepaimusic.com", "image": "/images/footer-hepaimusic.png" },
              { "name": "友演出", "url": "http://youyanchu.com", "image": "/images/footer-youyanchu.png" }
            ]'
        }}
    </div>

    <div class="footer-copyright u-textCenter">
        Gaia Magic All Rights Reserved
    </div>
</div>
