<div id="index" class="banner u-paddingTl">
    {{banner-boutique}}
</div>

<div class="section u-alignCenter">
    {{section-aside
         header='产品与服务'
         route='products'
         links='[
            { "name": "音乐人攻略", "position": "musicianguide" },
            { "name": "合拍", "position": "hepaimusic" },
            { "name": "有演出", "position": "youyanchu" }
          ]'
    }}

    {{section-content
        for='products-musicianguide'
        header='音乐人攻略'
        image='/images/musicianguide.png'
        buttons='[
          { "name": "官方网站", "url": "http://musicianguide.cn", "style": "btn-blue" },
          { "name": "新浪微博", "url": "http://weibo.com/musicianguidecn", "style": "btn-red" },
          { "name": "iPhone 客户端", "style": "btn-yellow", "popover": "<div class=\"u-textCenter u-paddingBs\">扫描二维码，或点击「App Store」按钮下载</div><img src=\"/images/qr/mg-iphone-app.png\" /><a class=\"btn btn-medium btn-blue u-marginLl\" href=\"https://itunes.apple.com/cn/app/yin-le-ren-gong-e/id654656930\" target=\"_blank\">App Store</a>" },
          { "name": "iPad 客户端", "style": "btn-yellow", "popover": "<div class=\"u-textCenter u-paddingBs\">扫描二维码，或点击「App Store」按钮下载</div><img src=\"/images/qr/mg-ipad-app.png\" /><a class=\"btn btn-medium btn-blue u-marginLl\" href=\"https://itunes.apple.com/cn/app/yin-le-ren-gong-ehd/id682309176\" target=\"_blank\">App Store</a>" },
          { "name": "微信帐号", "style": "btn-green", "popover": "<img src=\"/images/qr/mg-weixin.jpg\" />" }
        ]'
        description='音乐人攻略是国内领先音乐领域新媒体，专注服务音乐行业，提供前沿行业动态，研究音乐类行销、演出、网络等领域。努力为音乐人、从业人员和音乐爱好资讯和攻略。已推出到 iPhone 和 iPad 客户端，更方便为你推送第一手新闻资讯。'
    }}

    {{section-content
        for='products-hepaimusic'
        header='合拍'
        image='/images/hepaimusic.png'
        buttons='[
          { "name": "官方网站", "url": "https://hepaimusic.com", "style": "btn-blue" },
          { "name": "新浪微博", "url": "http://weibo.com/hepaimusic", "style": "btn-red" },
          { "name": "iPhone 客户端", "style": "btn-yellow", "popover": "<div class=\"u-textCenter u-paddingBs\">扫描二维码，或点击「App Store」按钮下载</div><img src=\"/images/qr/hepai-iphone-app.png\" /><a class=\"btn btn-medium btn-blue u-marginLl\" href=\"https://itunes.apple.com/cn/app/he-pai-yin-le/id657676397\" target=\"_blank\">App Store</a>" },
          { "name": "微信帐号", "style": "btn-green", "popover": "<img src=\"/images/qr/hepai-weixin.png\" />" }
        ]'
        description='专注于原创音乐人的社交工具，旨在为音乐人提供全新的沟通方式。它既是一个音乐行业的合作信息平台，也是一个优化后的音乐人社交网络，用户可以通过合拍网分享音乐，并通过音乐进行评价与交流，摒除其他繁杂多余的信息，使音乐人真正实现无地域界限的深度互动。'
    }}

    {{section-content
        for='products-youyanchu'
        header='有演出'
        image='/images/youyanchu.png'
        buttons='[
          { "name": "官方网站", "url": "http://youyanchu.com", "style": "btn-blue" },
          { "name": "新浪微博", "url": "http://weibo.com/youyanchu", "style": "btn-red" },
          { "name": "手机客户端", "style": "btn-yellow", "popover": "<div class=\"u-textCenter u-paddingBs\">扫描二维码，或点击「Download」按钮下载</div><img src=\"/images/qr/youyanchu-unified-qr.png\" /><a class=\"btn btn-medium btn-blue u-marginLl\" href=\"http://youyanchu.com/apps\" target=\"_blank\">Download</a>" },
          { "name": "微信帐号", "style": "btn-green", "popover": "<img src=\"/images/qr/youyanchu-weixin.png\" />" }
        ]'
        description='为音乐狂热准备的音乐演出平台，里面网罗了全国所有类型的演出信息，用户只需一键搜索就能找到自己心仪的演出及其相册、地图等所有信息。此外，还有演出方系统，能允许演出方建立账号，发布演出信息。iOS, Android 客户端亦同步推出。'
    }}
</div>
