<div id="index" class="banner u-paddingTl">
    {{banner-boutique}}
</div>

<div class="section u-alignCenter">
    {{section-aside
         header='产品与服务'
         route='products'
         links='[
            { "name": "音乐人攻略", "position": "musicianguide" },
            { "name": "合拍", "position": "hepaimusic" },
            { "name": "有演出", "position": "youyanchu" },
            { "name": "生力军计划", "position": "shenglijun" },
            { "name": "国外分销", "position": "distribution" },
            { "name": "T恤印制", "position": "t-shirt" },
            { "name": "音乐入库", "position": "warehousing" }
          ]'
    }}

    {{section-content
        for='products-musicianguide'
        header='音乐人攻略'
        image='/images/musicianguide.png'
        buttons='[
          { "name": "官方网站", "url": "http://musicianguide.cn", "style": "btn-blue" },
          { "name": "新浪微博", "url": "http://weibo.com/musicianguidecn", "style": "btn-red" },
          { "name": "下载APP", "url": "https://itunes.apple.com/cn/app/yin-le-ren-gong-e/id654656930", "style": "btn-yellow" }
        ]'
        description='音乐人攻略是国内领先音乐领域垂直媒体，专注服务音乐行业，提供前沿行业动态，研究音乐类行销、演出、网络等领域。努力为音乐人、从业人员和音乐爱好资讯和攻略。已推出到 iPhone 和 iPad 客户端，更方便为你推送第一手新闻资讯。'
    }}

    {{section-content
        for='products-hepaimusic'
        header='合拍'
        image='/images/hepaimusic.png'
        buttons='[
          { "name": "官方网站", "url": "http://hepaimusic.com", "style": "btn-blue" },
          { "name": "新浪微博", "url": "http://weibo.com/hepaimusic", "style": "btn-red" }
        ]'
        description='专注于原创音乐人的社交网站，旨在为音乐人提供全新的沟通方式。它既是一个音乐行业的合作信息平台，也是一个优化后的音乐人社交网络，用户可以通过合拍网分享音乐，并通过音乐进行评价与交流，摒除其他繁杂多余的信息，使音乐人真正实现无地域界限的深度互动。'
    }}

    {{section-content
        for='products-youyanchu'
        header='有演出'
        image='/images/youyanchu.png'
        buttons='[
          { "name": "官方网站", "url": "http://youyanchu.com", "style": "btn-blue" },
          { "name": "新浪微博", "url": "http://weibo.com/youyanchu", "style": "btn-red" },
          { "name": "下载APP", "url": "https://itunes.apple.com/cn/app/you-yan-chu/id521415660", "style": "btn-yellow" }
        ]'
        description='为音乐狂热准备的音乐演出平台，里面网罗了全国所有类型的演出信息，用户只需一键搜索就能找到自己心仪的演出及其相册、地图等所有信息。此外，还有演出方系统，能允许演出方建立账号，发布演出信息。iPhone 客户端亦同步推出。'
    }}

    {{section-content
        for='products-shenglijun'
        header='生力军计划'
        image='/images/shenglijun.png'
        buttons='[
          { "name": "了解详情", "url": "http://hepaimusic.com/dream", "style": "btn-blue" }
        ]'
        description='为音乐狂热准备的音乐演出平台，里面网罗了全国所有类型的演出信息，用户只需一键搜索就能找到自己心仪的演出及其相册、地图等所有信息。此外，还有演出方系统，能允许演出方建立账号，发布演出信息。iPhone 客户端亦同步推出。'
    }}

    {{section-content
        for='products-distribution'
        header='国外分销'
        image='/images/distribution.png'
        buttons='[
          { "name": "了解详情", "route": "distribution", "position": "intro", "style": "btn-blue" }
        ]'
        description='国外十多平台与地区免费上架，试运行期间，获得收入高达85%分成，仍然拥有版权完全权益，随时可取消授权，音乐人攻略团队出品，信誉保证。'
    }}

    {{section-content
        for='products-t-shirt'
        header='T恤印制'
        image='/images/t-shirt.png'
        buttons='[
          { "name": "了解详情", "route": "t-shirt", "position": "intro", "style": "btn-blue" }
        ]'
        description='乐队定制T恤不再繁琐，从面料的筛选到印刷技术的抉择，我们帮你操刀。只需一步即可成功定制，节省你75%以上的时间，让乐队周边产品立刻开卖。'
    }}

    {{section-content
        for='products-warehousing'
        header='音乐入库'
        image='/images/warehousing.png'
        buttons='[
          { "name": "了解详情", "route": "warehousing", "position": "intro", "style": "btn-blue" }
        ]'
        description='试运行期间，国内主流平台免费入库，百度、虾米、酷狗、多米、你听，更多平台即将开放，借助亿级用户平台，轻松展示你的音乐。音乐人攻略团队出品，信誉保证，正规版权代理合同保障，音乐人享受90%的版权费、付费下载收益。'
    }}
</div>
