<div class="section u-alignCenter u-cf">
    {{section-aside
         header='音乐入库'
         route='warehousing'
         links='[
            { "name": "服务介绍", "position": "intro" },
            { "name": "FAQ", "position": "faq" }
          ]'
    }}

    {{#section-content
        for='warehousing-intro'
        header='服务介绍'
        image='/images/warehousing.png'
        description='入库国内主流平台，百度、QQ音乐、虾米、酷狗、酷我、多米、天天动听、京东，更多平台即将开放，借助亿级用户平台，轻松展示你的音乐。音乐人攻略团队出品，信誉保证，正规版权代理合同保障，音乐人享受 90% 的版权费、付费下载收益。' }}

        <div class="section-sub-header">
            平台介绍：
        </div>

        <div class="u-cf u-marginVl u-paddingBs">
            {{warehousing-intro-item
                first=true
                name='百度音乐'
                image='/images/warehousing/baidu.png'
            }}

            {{warehousing-intro-item
                name='虾米'
                image='/images/warehousing/xiami.png'
            }}

            {{warehousing-intro-item
                name='酷狗'
                image='/images/warehousing/kugou.png'
            }}
        </div>

        <div class="u-cf u-paddingTl">
            {{warehousing-intro-item
                first=true
                name='多米'
                image='/images/warehousing/duomi.png'
            }}

            {{warehousing-intro-item
                name='你听'
                image='/images/warehousing/niting.png'
            }}
        </div>

        <div class="section-sub-header">
            入库流程：
        </div>

        <div class="u-marginVl u-paddingBl">
            <img src="/images/warehousing/flow.png" alt="flow" />
        </div>

        <p class="u-paddingTm">
            <span>有意请联系： </span>
            <a href="mailto:FX@gaiamagic.com">RK@gaiamagic.com</a>
            <span>或 QQ 282648902</span>
        </p>

    {{/section-content}}

    {{faq-content
          header='FAQ'
          for='warehousing-faq'
          faqList=model
    }}
</div>
